<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="passPhrase" value="Pas5pr@se" />
    <add key="initVector" value="@1B2c3D4e5F6g7H8" />
    <add key="EncryptionSalt" value="4P0S@ppl1cat10nSu1te" />

    <add key="SSL" value="True" />
    <add key="SMTPPort" value="587" />

    <add key="EmailCC" value="support@4pos.in" />
    <!--<add key="EmailCC" value="abhishek.tiwari1@srmtechsol.com"/>-->
    <!--<add key="EmailCC" value="ashish.yadav@srmtechsol.com"/>-->
    <add key="MailFromNew" value="registrations@4pos.in" />
    <add key="SMTPServer" value="smtp.hostinger.com" />
    <add key="Password" value="ARvind@121212" />

    <add key="MailCompanyNameChange" value="registrations@4pos.in" />
    <add key="MailCompanyReRegistration" value="registrations@4pos.in" />
    
    <add key="PasswordCompanyNameChange" value="ARvind@121212" />
    <add key="PasswordCompanyReRegistration" value="ARvind@121212" />
    
    
    <add key="AlternateUserName" value="info@4pos.in" />
    <add key="AlternatePassword" value="ARvind@121212" />
    
    <add key="ExceptionLogPath" value="C:\Inetpub\wwwroot\LicenseWCF\ExceptionLog.txt" />

    <add key="LogPath" value="C:\Inetpub\wwwroot\LicenseWCF\Log.log" />
    <add key="EnableLog" value="true" />

    <add key="HtmlTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate.html" />
    <add key="HtmlPOSTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplatePOSRegistration.html" />

    <add key="Html4LodgeTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4Lodge.html" />
    <add key="HtmlTemplate4LodgeRegPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4LodgeRegistration.html" />

    <add key="MailTemplatetoMoveLicense" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplatetoMoveLicense.html" />

    <add key="MailTemplateChangeCompanyNamePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateChangeCompanyName.html" />
    <add key="MailTemplateForReRegistrationPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateForReRegistration.html" />
    <add key="MailTemplateAppliedforNomadPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateAppliedforNomad.html" />

    <add key="Html4PayTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4Pay.html" />
    <add key="HtmlTemplate4PayRegPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4PayRegistration.html" />

    <add key="Html4TFMTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4TFM.html" />
    <add key="Html4JOBSTemplatePath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4JOBS.html" />
    <add key="HtmlTemplate4JOBSRegPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4JOBSRegistration.html" />

    <add key="HtmlTemplate4TFMRegPath" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplate4TFMRegistration.html" />
    <add key="MailTemplateCreditCard" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateCreditCard.html" />
    <add key="MailTemplateResetPassword" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateResetPassword.html" />

    <add key="CompanyNameChangeServiceURL" value="167.86.71.3/4POSLicense/ChangeCompanyName" />
    <add key="ResetPasswordServiceURL" value="167.86.71.3/4POSLicense/ResetPassword" />
    <add key="MaximumLicenseMove" value="10" />

    <add key="ServiceURL" value="167.86.71.3/4POSLicense" />
    <add key="MailTemplateAppliedforBlueLabel" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateAppliedforBlueLabel.html" />

    <add key="MailTemplateBlueLabel" value="C:\Inetpub\wwwroot\LicenseWCF\HtmlTemplate\MailTemplateBlueLabel.html" />
    <add key="MailBlueLabel" value="registrations@4pos.in" />
    <add key="MailBlueLabelPassword" value="ARvind@121212" />

  </appSettings>
  <connectionStrings>

    <!--<add name="AppConnectionString" connectionString="Data Source=167.86.71.3;Initial Catalog=4POSLicence;Persist Security Info=True;User ID=airtimesql;Password=four@POS3" providerName="System.Data.SqlClient" />-->
    <add name="AppConnectionString" connectionString="Data Source=167.86.71.3;Initial Catalog=4POSLicence;Persist Security Info=True;User ID=airtimesql;Password=!SOP@#ruof$4" providerName="System.Data.SqlClient" />
    <add name="AppConnectionStringHO" connectionString="Data Source=167.86.71.3;Initial Catalog=4POS_HeadOffice;Persist Security Info=True;User ID=airtimesql;Password=!SOP@#ruof$4" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6" />
<httpRuntime targetFramework="4.6" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LicenseTimeoutBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Licensing.Licencing">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LicenseTimeoutBinding" contract="Licensing.ILicensing" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SelfHostedServiceConsole" />
          </baseAddresses>
        </host>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->

</configuration>
